body {

    background-color: bisque;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

h2 {
    color: rgb(60, 24, 123);
}

h3 {
    color: rgb(14, 14, 147);
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: rgb(181, 36, 104);
    
}


/* CLASSES SELECTORS */

/* class for my reading responses
*/

.responses{
    color: red;

}